Bitland SW Simon version1
Date: 2017-04

How to config static IP and DHCP on Ubuntu SERVER?

Question 1. How to know static IP and DHCP is okay on Ubuntu SERVER?
	>>>if everything is okay,your DUT can get IP from SERVER DHCP, and 'ping 101.1.2.4' is good.
	and 'ifconfig' should be like this:
		"<eth1>  inet addr:101.1.2.4  Bcast:101.1.255.255  Mask:255.255.0.0"

Question2: How to match the real network card hardware with it's name?
	 ethtool -p <eth0>  #the relative network card hardware will blinky.

Question3. How to config the static IP on server?
		# in directory: /etc/network/interfaces
		# config the static IP to connect backend server
		auto eth1
		iface eth1 inet static
			address 192.168.253.85  #should be changed with different server/network card
			netmask 255.255.255.0
			gateway 192.168.253.1
		
		#config the static IP as server
		auto p2p1   #this network card will regard as server interface in /etc/default/isc-dhcp-server
		iface p2p1 inet static
			address 101.1.2.4
			netmask 255.255.0.0

		#config the static IP to connect Internet
		auto eth4
		iface eth4 inet static
			address 10.240.16.37  #should be changed with different server/network card
			netmask 255.255.255.0
			gateway 10.240.16.250
			dns-nameserver 8.8.8.8

Note: [Important]Connect Internet will cause conflict, so you can just choose one way in one time						
use cmd to verify, cmd: sudo /etc/init.d/networking restart

Question 4. How to config the  Bcast IP/Mask IP?
		# in directory: /etc/dhcp/dhcpd.conf
		subnet 101.1.0.0 netmask 255.255.0.0 {
			 range 101.1.5.10 101.1.200.255;
			 option domain-name-servers 101.1.2.1;
			 option domain-name "example.org";
			 option broadcast-address 101.1.255.255;
			 option routers 101.1.2.4;
			 option subnet-mask 255.255.0.0;
			 # filename "vmlinux.bin";
			 # option dhcp-server-identifier 101.1.2.4;
			 next-server 101.1.2.4;
		}

verify cmd:
sudo service isc-dhcp-server restart && sudo reboot 
======================================================================

pci设备的网卡
		lspci -v
激活网卡
		sudo ifconfig 网卡设备名 up
查询USB网口
		lsusb 
修改网卡接口名
		sudo nano /etc/udev/rules.d/70-persistent-net.rules
		修改下列字段便成。
		NAME="eth0"和 NAME="wlan0",随后重启Ubuntu。

=======================================================================
How to config samba server in factory?

1. setup the share file with special permission
		mkdir the /opt/sdt/*  #refer to the config_old_server_smb folder
		chmod 777 -R /opt
		chown nobody -R /opt
		chgrp nogroup -R /opt

2. sudo vim /etc/samba/smb.conf  #config the smb
		add the following in the end:
		[share]
			 path = /opt/sdt
			 browseable = yes
			 available = yes
			 public = yes
			 writeable = yes
			 create mask = 0777
			 directory mask = 0777
			 guest ok = yes
		[log]
			 path = /home/bitland/SS/shopfloor/shopfloor_data/reports
			 browseable = yes
			 available = yes
			 public = yes
			 writeable = yes
			 create mask = 0777
			 directory = 0777
			 guest ok = yes

3. sudo service smbd restart 	#restart the samba service 
=======================================================================

